/* DNT demo page */

#main-feature {
  min-height: 200px;
  /*background: url(http://mozcom-cdn.mozilla.net/img/covehead/divider-main.jpg) 50% 100% no-repeat;*/
}

#sidebar {
  float: right;
  display: inline;
  margin-right: 25px;
  width: 255px;
  padding-left: 10px;
  margin-top: 20px;
  position:relative;
  z-index:100;
}

#sidebar h3 {
  margin: 0;
}

#sidebar .sidebar-box {
  margin: 25px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #CCE2F3;
  padding: 20px 20px 15px;
}
#sidebar .sidebar-box h3 {
  line-height: 0.8;
}

#sidebar .sidebar-box p {
  font-size: 13px;
  margin: 5px 0;
}


#sidebar textarea {
  font-size:8px;
  padding:0;
  width:100%;
}

#sidebar li {
  padding: 2px 2px 2px 2px;
  margin-bottom:5px;
  display:block;
}


div iframe#resultslist {
  width:100%;
}
